@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-user-select: none;
          user-select: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.line {
  width: 200px;
  height: 2px;
}

.container {
  width: 770px;
  display: flex;
  box-sizing: border-box;
}

body {
  font-family: Century Gothic;
  font-weight: normal;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
header a, header p {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 12px;
}
header a {
  color: #D7D7D7;
}
header img {
  margin: 2px;
}
header a:visited, header a:link {
  color: #D7D7D7;
}
header a:hover, header p:hover {
  cursor: pointer;
  color: white;
  transition: 0.6s;
}
header .navbar__menu {
  display: flex;
  justify-content: center;
  background: rgba(17, 17, 17, 0.76);
}
header .header_container {
  justify-content: space-between;
  width: 770px;
  display: flex;
  box-sizing: border-box;
  padding: 0 24px 0 0;
}
header #comm {
  display: none;
}
header .navbar_menu__active {
  color: white;
  opacity: 0;
  visibility: hidden;
}
header .navbar_menu__container__active {
  display: flex;
  width: 770px;
  justify-content: space-between;
}
header .navbar_menu__container__active p, header .navbar_menu__container__active a {
  padding: 2px 5px 3px 5px;
  padding-right: 12px;
  padding-left: 13px;
}
header .navbar_communication__active {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 24px;
}
header .navbar_communication__container__active {
  display: flex;
  width: 770px;
  justify-content: space-between;
}
header .navbar_communication__container__active p, header .navbar_communication__container__active a {
  padding: 2px 5px 3px 5px;
}

@media (max-width: 500px) {
  header #tel, header #mail {
    display: none;
  }
  header #comm {
    display: flex;
  }

  .header_container {
    padding: 0;
  }

  .navbar_menu__container__active {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar_menu__container__active p, .navbar_menu__container__active a {
    width: 100%;
  }

  .navbar_communication__container__active {
    display: flex;
  }
  .navbar_communication__container__active p, .navbar_communication__container__active a {
    margin: 0 20px;
  }
}
.block-1 {
  width: 100%;
  height: 100%;
  display: flex;
}
.block-1__container {
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}
.block-1__content {
  width: 400px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.block-1__text {
  display: block;
  text-align: center;
}
.block-1__text p:nth-child(1) {
  font: "Century Gothic";
  font-weight: bold;
  font-size: 54px;
  padding-bottom: 20px;
}
.block-1__text p:nth-child(2) {
  font-family: Century Gothic;
  font-weight: normal;
  font-size: 36px;
}
.block-1__bg {
  background: url("../img/block-1/block-1__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}
.block-1__btn {
  font: "Century Gothic";
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}
.block-1__btn__o {
  width: 140px;
  height: 40px;
  background: #000000;
  border-radius: 5px;
  display: flex;
}
.block-1__btn__o__content {
  display: flex;
}
.block-1__btn__o img {
  width: 40px;
  height: 40px;
}
.block-1__btn__o__text {
  margin: auto 0px;
}
.block-1__btn img {
  padding: 5px;
}
.block-1__btn p:nth-child(1) {
  font-size: 10px;
}
.block-1 #vk, .block-1 #inst {
  cursor: pointer;
}
.block-1 #vk:hover, .block-1 #inst:hover {
  filter: invert(100%);
  transition: 0.6s;
}
.block-1 #vk:active, .block-1 #inst:active {
  filter: invert(100%);
  transition: 0.6s;
}

@media (max-width: 500px) {
  .block-1__text p:nth-child(1) {
    font-size: 44px;
  }
  .block-1__text p:nth-child(2) {
    font-size: 26px;
  }
  .block-1__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-1__btn__o {
    width: 80%;
    justify-content: center;
    margin: 2px 0px;
  }
}
@media (max-width: 400px) {
  .block-1__text p:nth-child(1) {
    font-size: 40px;
  }
  .block-1__text p:nth-child(2) {
    font-size: 26px;
  }
}
.block-2 {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.block-2__bg {
  background: url("../img/block-2/block-2__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  background-attachment: fixed;
}
.block-2__container {
  width: 806px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-2__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.block-2__text {
  font: "Century Gothic";
  font-weight: bold;
  color: white;
  font-size: 54px;
  text-align: center;
}
.block-2 .line {
  background: white;
  margin: 5px 0 15px 0;
}
.block-2 .block-2-menu {
  padding: 0 12px;
}
.block-2 .block-2-menu__screen {
  width: 100%;
  height: 240px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.block-2 .block-2-menu__block {
  background: white;
  display: flex;
  align-items: center;
  margin: 0 4px;
  width: 25%;
  height: 100%;
  text-align: center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-2 .block-2-menu__block__content {
  height: 180px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.block-2 .block-2-menu__block__content img {
  width: 50%;
}
@media (max-width: 720px) {
  .block-2 .block-2-menu__screen {
    height: 210px;
  }
  .block-2 .block-2-menu__screen img {
    width: 60px;
  }
}
@media (max-width: 600px) {
  .block-2 .block-2-menu__screen {
    font-size: 12px;
    height: 172px;
  }
  .block-2 .block-2-menu__block__content {
    height: 145px;
  }
  .block-2 .block-2-menu__block__content img {
    width: 50px;
  }
}
@media (max-width: 500px) {
  .block-2 .block-2__text {
    font-size: 40px;
  }
  .block-2 .block-2-menu__screen {
    font-size: 8px;
    height: 130px;
    padding: 0 4px;
  }
  .block-2 .block-2-menu__block__content {
    height: 100px;
  }
  .block-2 .block-2-menu__block__content img {
    width: 35px;
  }
}
@media (max-width: 395px) {
  .block-2 .block-2__text {
    font-size: 32px;
  }
  .block-2 .block-2-menu__screen {
    font-size: 7px;
    height: 110px;
  }
  .block-2 .block-2-menu__block__content {
    height: 85px;
  }
  .block-2 .block-2-menu__block__content img {
    width: 30px;
  }
}
@media (max-width: 330px) {
  .block-2 .block-2-menu__screen {
    font-size: 6px;
    height: 95px;
  }
  .block-2 .block-2-menu__block__content {
    height: 75px;
  }
}

@media (max-width: 500px) {
  .block-2 {
    height: 500px;
  }

  .block-2__bg {
    background-attachment: scroll;
  }
}
.block-3 {
  width: 100%;
  height: 600px;
}
.block-3 .block-3-top {
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100px;
}
.block-3 .block-3-top__bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/block-3/block-3-top__bg.jpg") no-repeat;
  background-position: 50% 18%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.block-3 .block-3-top__bg__text {
  font: "Century Gothic";
  font-weight: bold;
  font-size: 54px;
  color: white;
}
.block-3 .block-3-top__bg .line {
  margin-top: 10px;
  height: 2px;
  width: 200px;
  background: #1089A4;
}
@media (min-width: 1900px) {
  .block-3 .block-3-top__bg {
    background-size: cover;
  }
}
.block-3 .container {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.block-3 .block-3-content {
  width: 790px;
  padding: 0 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block-3 .block-3-content .step-menu .step {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}
.block-3 .block-3-content .step-menu .step img {
  width: 75px;
}
.block-3 .block-3-content .step-menu .step__text {
  margin: 0 0 0 10px;
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block-3 .block-3-content .step-menu .step__text strong {
  font: "Century Gothic";
  font-weight: bold;
  font-size: 28px;
  color: #1089A4;
  margin: 0 0 5px 0;
}
.block-3 .block-3-content .step-menu .step__text p {
  font-size: 18px;
  color: #444343;
}
@media (max-width: 500px) {
  .block-3 .block-3-content .step-menu .step {
    margin: 15px 0;
  }
  .block-3 .block-3-content .step-menu .step img {
    width: 50px;
  }
  .block-3 .block-3-content .step-menu .step strong {
    font-size: 19px;
  }
  .block-3 .block-3-content .step-menu .step p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .block-3 .block-3-top__bg__text {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .block-3 {
    height: 400px;
  }
  .block-3 .block-3-content {
    height: 300px;
    margin-top: 20px;
  }
  .block-3 .block-3-top {
    height: 60px;
  }
}
.block-4 {
  overflow: hidden;
  width: 100%;
  height: 525px;
}
.block-4 .block-4-top {
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100px;
}
.block-4 .block-4-top__bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/block-4/block-4-top__bg.jpg");
  background-position: 7.5% 65%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.block-4 .block-4-top__bg__text {
  font: "Century Gothic";
  font-weight: bold;
  font-size: 54px;
  color: white;
}
.block-4 .block-4-top__bg .line {
  margin-top: 10px;
  height: 2px;
  width: 200px;
  background: #FFC700;
}
@media (max-width: 500px) {
  .block-4 .block-4-top__bg__text {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .block-4 {
    height: 400px;
  }
  .block-4 .block-4-content {
    height: 300px;
    margin-top: 20px;
  }
  .block-4 .block-4-top {
    height: 60px;
  }
}