@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-user-select: none;
          user-select: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 770px;
}

body {
  font-family: Century Gothic;
  font-weight: normal;
}

.block-1 {
  width: 100%;
  height: 100%;
  display: flex;
}
.block-1__container {
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}
.block-1__content {
  width: 400px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.block-1__text {
  display: block;
  text-align: center;
}
.block-1__text p:nth-child(1) {
  font: "Century Gothic";
  font-weight: bold;
  font-size: 54px;
  padding-bottom: 20px;
}
.block-1__text p:nth-child(2) {
  font-family: Century Gothic;
  font-weight: normal;
  font-size: 36px;
}
.block-1__bg {
  background: url("../img/block-1/block-1__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}
.block-1__btn {
  font: "Century Gothic";
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}
.block-1__btn__o {
  width: 140px;
  height: 40px;
  background: #000000;
  border-radius: 5px;
  display: flex;
}
.block-1__btn__o__text {
  margin: auto 0px;
}
.block-1__btn img {
  padding: 5px;
}
.block-1__btn p:nth-child(1) {
  font-size: 10px;
}
.block-1 #vk, .block-1 #inst {
  cursor: pointer;
}
.block-1 #vk:hover, .block-1 #inst:hover {
  filter: invert(100%);
  transition: 0.6s;
}