@charset "UTF-8";
body {
  background: black;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-user-select: none;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Century Gothic-Bold";
  src: url("../fonts/Bold/CenturyGothic-Bold.eot");
  src: url("../fonts/Bold/CenturyGothic-Bold.eot?iefix") format("eot"), url("../fonts/Bold/CenturyGothic-Bold.woff") format("woff"), url("../fonts/Bold/CenturyGothic-Bold.ttf") format("truetype"), url("../fonts/Bold/CenturyGothic-Bold.svg#webfont") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic-Regular";
  src: url("../fonts/Regular/CenturyGothic.eot");
  src: url("../fonts/Regular/CenturyGothic.eot?iefix") format("eot"), url("../fonts/Regular/CenturyGothic.woff") format("woff"), url("../fonts/Regular/CenturyGothic.ttf") format("truetype"), url("../fonts/Regular/CenturyGothic.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
.line {
  width: 200px;
  height: 2px;
}

.container {
  width: 770px;
  display: flex;
  box-sizing: border-box;
}

body {
  font-family: Century Gothic-Regular;
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}
header a, header p {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 12px;
}
header a {
  color: #D7D7D7;
}
header img {
  margin: 2px;
}
header a:visited, header a:link {
  color: #D7D7D7;
}
header a:hover, header p:hover {
  cursor: pointer;
  color: white;
  transition: 0.6s;
}
header .navbar__menu {
  display: flex;
  justify-content: center;
  background: rgba(17, 17, 17, 0.76);
}
header .header_container {
  justify-content: space-between;
  width: 770px;
  display: flex;
  box-sizing: border-box;
  padding: 0 24px 0 0;
}
header #comm {
  display: none;
}
header .navbar_menu__active {
  color: white;
  opacity: 0;
  visibility: hidden;
}
header .navbar_menu__container__active {
  display: flex;
  width: 770px;
  justify-content: space-between;
}
header .navbar_menu__container__active p, header .navbar_menu__container__active a {
  padding: 2px 5px 3px 5px;
  padding-right: 12px;
  padding-left: 13px;
}
header .navbar_communication__active {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 24px;
}
header .navbar_communication__container__active {
  display: flex;
  width: 770px;
  justify-content: space-between;
}
header .navbar_communication__container__active p, header .navbar_communication__container__active a {
  padding: 2px 5px 3px 5px;
}

@media (max-width: 500px) {
  header #tel, header #mail {
    display: none;
  }
  header #comm {
    display: flex;
  }

  .header_container {
    padding: 0;
  }

  .navbar_menu__container__active {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar_menu__container__active p, .navbar_menu__container__active a {
    width: 100%;
  }

  .navbar_communication__container__active {
    display: flex;
  }
  .navbar_communication__container__active p, .navbar_communication__container__active a {
    margin: 0 20px;
  }
}
/*Блок_1*/
.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.homePage__bg {
  background: url("../img/homePage/homePage__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}
.homePage__content {
  font-family: Century Gothic-Bold;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  width: 400px;
  height: 234px;
}
.homePage__btn {
  display: flex;
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: 54px;
}
.title p:nth-child(2) {
  padding-top: 20px;
  font-family: Century Gothic-Regular;
  font-size: 36px;
}

.btn_home {
  width: 140px;
  height: 40px;
  background: #000000;
  border-radius: 5px;
  display: flex;
}
.btn_home__content {
  display: flex;
}
.btn_home img {
  width: 40px;
  height: 40px;
}
.btn_home__text {
  margin: auto 0px;
}
.btn_home img {
  padding: 5px;
}
.btn_home p:nth-child(1) {
  font-size: 10px;
}

#vk, #inst {
  cursor: pointer;
}

#vk:hover, #inst:hover {
  filter: invert(100%);
  transition: 0.6s;
}

#vk:active, #inst:active {
  filter: invert(100%);
  transition: 0.6s;
}

@media (max-width: 425px) {
  .title {
    font-size: 40px;
  }
  .title p:nth-child(2) {
    font-size: 26px;
  }

  .homePage__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn_home {
    width: 80%;
    justify-content: center;
    margin: 2px 0px;
  }
}
/*--------------------*/
.block-2 {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.block-2__bg {
  background: url("../img/block-2/block-2__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  background-attachment: fixed;
}
.block-2__container {
  width: 806px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-2__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.block-2__text {
  font-family: Century Gothic-Bold;
  color: white;
  font-size: 54px;
  text-align: center;
  line-height: 55px;
}
.block-2 .line {
  background: white;
  margin: 10px 0 30px 0;
}
.block-2 .block-2-menu {
  padding: 0 12px;
}
.block-2 .block-2-menu__screen {
  width: 100%;
  height: 240px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.block-2 .block-2-menu__block {
  background: white;
  display: flex;
  align-items: center;
  margin: 0 4px;
  width: 25%;
  height: 100%;
  text-align: center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-2 .block-2-menu__block__content {
  height: 180px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.block-2 .block-2-menu__block__content img {
  width: 50%;
}
@media (max-width: 720px) {
  .block-2 .block-2-menu__screen {
    height: 210px;
  }
  .block-2 .block-2-menu__screen img {
    width: 60px;
  }
}
@media (max-width: 600px) {
  .block-2 .block-2-menu__screen {
    font-size: 12px;
    height: 172px;
  }
  .block-2 .block-2-menu__block__content {
    height: 145px;
  }
  .block-2 .block-2-menu__block__content img {
    width: 50px;
  }
}
@media (max-width: 425px) {
  .block-2 .block-2__text {
    font-size: 38px;
    line-height: 40px;
  }
  .block-2 .block-2-menu__screen {
    font-size: 8px;
    height: 130px;
    padding: 0 4px;
  }
  .block-2 .block-2-menu__block__content {
    height: 100px;
  }
  .block-2 .block-2-menu__block__content img {
    width: 35px;
  }
  .block-2 .line {
    background: white;
    margin: 5px 0 15px 0;
  }
}
@media (max-width: 395px) {
  .block-2 .block-2__text {
    font-size: 32px;
    line-height: 30px;
  }
  .block-2 .block-2-menu__screen {
    font-size: 7px;
    height: 110px;
  }
  .block-2 .block-2-menu__block__content {
    height: 85px;
  }
  .block-2 .block-2-menu__block__content img {
    width: 30px;
  }
}
@media (max-width: 330px) {
  .block-2 .block-2-menu__screen {
    font-size: 6px;
    height: 95px;
  }
  .block-2 .block-2-menu__block__content {
    height: 75px;
  }
}

@media (max-width: 500px) {
  .block-2 {
    height: 450px;
  }

  .block-2__bg {
    background-attachment: scroll;
  }
}
/*Блок_3*/
.helpInfo {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.helpInfo__bg {
  background: url("../img/helpInfo/helpInfo__bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
}
.helpInfo__title {
  font-family: Century Gothic-Bold;
  font-size: 54px;
  text-align: center;
}
.helpInfo__content {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.helpInfo .line {
  background: #FFC700;
  margin: 15px 0 30px 0;
}

.Info-block_numeral {
  font-family: Century Gothic-Bold;
  font-size: 54px;
  margin: auto 61px auto 53px;
}
.Info-block_text {
  width: 510px;
  font-size: 18px;
  padding-right: 15px;
}
.Info-block__wrap {
  background: url("../img/helpInfo/wrap.svg");
  background-repeat: no-repeat;
  height: 100px;
  background-position: center;
  background-size: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .helpInfo__bg {
    background: url("../img/helpInfo/helpInfo__bg_phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .container {
    max-width: 640px;
  }

  .helpInfo__content {
    height: 320px;
  }

  .Info-block_numeral {
    margin: auto 47px auto 40px;
  }
}
@media (max-width: 425px) {
  .helpInfo {
    height: 550px;
  }
  .helpInfo .line {
    margin: 5px 0 30px 0;
  }

  .container {
    max-width: 360px;
  }

  .helpInfo__content {
    height: 195px;
  }

  .helpInfo__title {
    font-size: 38px;
  }

  .Info-block_text {
    font-size: 11px;
  }
  .Info-block_numeral {
    font-size: 32px;
    margin: auto 30px auto 22.5px;
  }
  .Info-block__wrap {
    height: 60px;
    background: url("../img/helpInfo/wrap_425px.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 370px) {
  .container {
    max-width: 320px;
  }

  .helpInfo__content {
    height: 175px;
  }

  .helpInfo__title {
    font-size: 30px;
  }

  .Info-block_text {
    font-size: 10px;
  }
  .Info-block_numeral {
    font-size: 32px;
    margin: auto 20px auto 22.5px;
  }
  .Info-block__wrap {
    height: 50px;
  }
}
/*--------------------*/
/*Блок_4*/
.howStart {
  display: flex;
  flex-direction: column;
}
.howStart_top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.howStart_main {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.howStart__title {
  font-family: Century Gothic-Bold;
  color: white;
  font-size: 54px;
  display: flex;
}
.howStart .line {
  background: #00088E;
  position: relative;
  margin: 15px 0 30px 0;
}

.howStart_top__bg {
  background: url("../img/howStart/howStart_top__bg.jpg");
  background-size: cover;
  height: 100px;
  width: 100%;
}

.howStart_main__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.howStart-block_numeral {
  margin-right: 10px;
}
.howStart-block_title {
  font-family: Century Gothic-Bold;
  color: #2E3163;
  font-size: 28px;
  margin-bottom: 5px;
}
.howStart-block_text {
  color: #444343;
  font-size: 18px;
}
.howStart-block__wrap {
  display: flex;
  align-items: center;
}
.howStart-block__content {
  height: 60px;
}

.howStart-block:last-child {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .howStart-block__content {
    height: 65px;
  }
}
@media (max-width: 425px) {
  .howStart_main {
    height: 375px;
  }
  .howStart .line {
    margin: 5px 0 0px 0;
  }

  .howStart_top__bg {
    height: 60px;
  }

  .howStart__title {
    font-size: 38px;
  }

  .howStart-block_numeral {
    margin-right: 5px;
  }
  .howStart-block_numeral img {
    height: 60px;
  }
  .howStart-block_title {
    color: #2E3163;
    font-size: 22px;
  }
  .howStart-block_text {
    color: #444343;
    font-size: 14px;
  }
  .howStart-block__content {
    height: 60px;
  }

  .howStart-block:last-child {
    margin-bottom: 5px;
  }
}
@media (max-width: 370px) {
  .howStart_main {
    height: 325px;
  }

  .howStart__title {
    font-size: 32px;
  }

  .howStart-block_numeral img {
    height: 50px;
  }
  .howStart-block_title {
    color: #2E3163;
    font-size: 20px;
  }
  .howStart-block_text {
    color: #444343;
    font-size: 13px;
  }
  .howStart-block__content {
    height: 50px;
  }

  .howStart-block:last-child {
    margin-bottom: 20px;
  }
}
/*--------------------*/
.services {
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services_title-num1 {
  font-family: Century Gothic-Bold;
  font-size: 54px;
}
.services_title-num2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.services_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services_content-container {
  min-width: 770px;
}
.services__bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/services/services__bg.jpg");
  background-size: cover;
  background-position: center 25%;
}
.services .line {
  background: white;
  margin: 10px 0 10px 0;
}

.services-block {
  width: 180px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-block__content {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.services-block__text {
  color: black;
  padding: 0 20px;
}

@media (max-width: 770px) {
  .services_content-container {
    min-width: 600px;
  }
}
@media (max-width: 425px) {
  .services_title-num1 {
    font-size: 40px;
  }

  .services_content-container {
    min-width: 360px;
  }

  .services-block {
    width: 110px;
    height: 140px;
  }
  .services-block__content {
    height: 120px;
  }
  .services-block__img img {
    height: 60px;
  }
  .services-block__text {
    font-size: 10px;
    padding: 0 3px;
  }
}
@media (max-width: 360px) {
  .services_content-container {
    min-width: 320px;
  }

  .services-block {
    width: 100px;
    height: 120px;
  }
  .services-block__content {
    height: 100px;
  }
  .services-block__img img {
    height: 50px;
  }
  .services-block__text {
    font-size: 9px;
  }
}
@media (max-width: 320px) {
  .services_content-container {
    min-width: 300px;
  }

  .services-block {
    width: 90px;
    height: 110px;
  }
  .services-block__content {
    height: 85px;
  }
  .services-block__img img {
    height: 40px;
  }
  .services-block__text {
    font-size: 9px;
  }
}
footer {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60px;
  color: #949494;
}
.footer_container {
  max-width: 770px;
}
.footer_navbar-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer_top_navbar {
  display: flex;
  justify-content: space-between;
}
.footer_tagline {
  margin-top: 10px;
  color: black;
  text-align: center;
}
.footer__navbar-text {
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer {
    font-size: 11.5px;
  }
  .footer_container {
    max-width: 425px;
    padding: 0 10px;
  }
}
@media (max-width: 425px) {
  .footer {
    height: 50px;
    font-size: 9px;
  }
  .footer_container {
    max-width: 425px;
    padding: 0 10px;
  }
}