footer{
	background: white;
	display: flex; justify-content: center; align-items: center;
}
.footer {	
	display: flex; justify-content: center; align-items: center; flex-direction: column;
	width: 100%;
	height: 60px;
	color: #949494;
	&_container {max-width: 770px;}
	&_navbar-wrap {width: 100%;display: flex; flex-direction: column;}
	&_top_navbar {display: flex; justify-content: space-between; }
	&_tagline {
		margin-top: 10px;		
		color: black;
		text-align: center;
	}
	&__navbar-text {
		cursor: pointer;
	}
}

@media (max-width: 768px){
	.footer{
		&_container {max-width: 425px; padding: 0 10px;}
		font-size: 11.5px;
	}
}

@media (max-width: 425px){
	.footer{
		&_container {max-width: 425px; padding: 0 10px;}
		font-size: 9px;
	}
}