header{
	position: fixed;
	left: 0;top: 0;
	width: 100%;
	a,p{
		text-transform: uppercase; 
		display: flex;
		align-items: center;
		color: #D7D7D7;
		font-size: 12px;
		padding: 0 10px 0 0;
	}
	img{
		margin: 2px;
	}
	
	a:visited, a:link{
		color: #D7D7D7;
	}
	a:hover ,p:hover{
		cursor: pointer;
		color:white;
		transition: 0.6s;	
	}
	.navbar{
		background: rgba(17, 17, 17, 0.76);
		&__menu{
			display: flex; justify-content: center;
		}
	}

	.navbar_menu {		
		&__active {
			color: white;
			display: none; //FLEX to NONE
			padding-bottom: 4px;
			.container{
				width: 718px;
			}
		}
	}
	.container{
		justify-content: space-between;
	}
	#comm{display: none;}
	.communication {
		&__active {
			color: white;
			display: none; //FLEX to NONE
			padding: 0 10px 4px 10px;
			.container{
				width: 718px;
			}

		}
	}
	


	
}

@media (max-width: 560px) {
	header{
		#tel,#mail{display: none;}
		#comm{display: flex; padding-right: 10px;}
	}
}

