header{
	position: fixed;
	z-index: 1;
	left: 0;top: 0;
	width: 100%;
	a,p{
		text-transform: uppercase; 
		display: flex;
		align-items: center;
		font-size: 12px;		
	}
	a{
		color: #D7D7D7;
	}
	img{
		margin: 2px;
	}
	
	a:visited, a:link{
		color: #D7D7D7;
	}
	a:hover ,p:hover{
		cursor: pointer;
		color:white;
		transition: 0.6s;	
	}
	.navbar{		
		&__menu{
			display: flex; justify-content: center;
			background: rgba(17, 17, 17, 0.76);
		}		
	}

	.header_container{
		justify-content: space-between;
		width: 770px; display: flex;
		box-sizing: border-box;
		padding: 0 24px 0 0;
	}
	#comm{display: none;}

	.navbar_menu {
		&__active {
			color: white;
			opacity: 0;	
			visibility: hidden;		
		}
		&__container {
			&__active {				
				display: flex;
				width: 770px;
				justify-content: space-between;
				p,a{
					padding: 2px 5px 3px 5px;
					padding-right: 12px;
					padding-left: 13px;
				}
			}
		}
	}	

	.navbar_communication {		
		&__active {			
			opacity: 0;	
			visibility: hidden;		
			position: absolute; width: 100%; top: 24px;
		}
			&__container {
			&__active {				
				display: flex;
				width: 770px;
				justify-content: space-between;
				p,a{
					padding: 2px 5px 3px 5px;
				}
			}
		}
	}	
}




@media (max-width: 500px) {
	header{
		#tel,#mail{display: none;}
		#comm{
			display: flex;
		}
	}
	.header_container{
		padding: 0;
	}

	.navbar_menu {		
		&__container {
			&__active {						
				display: inline-flex;
				flex-direction: column; 
				align-items: center;						
				p,a{
					width: 100%;	
				}
			}
		}
	}

		.navbar_communication {			
			&__container {
			&__active {	
				display: flex; 	
				p,a{
					margin: 0 20px;
				}
			}
		}
	}	
}

