/*Блок_3*/
.helpInfo {
	width: 100%; height: 100%; color: white;
	display: flex; justify-content: center; align-items: center; flex-direction: column;
	&__bg{
		background: url("../img/helpInfo/helpInfo__bg1.jpg");
		background-repeat: no-repeat;
		background-size: cover;	
		background-position: 80%;	
	}
	&__title {
		@include bold;		
		font-size: 54px;
		text-align: center;
	}
	&__content {
		height: 360px;
		display: flex;flex-direction: column;
		justify-content: space-between;
	}
	.line {
		background: #FFC700; 
		margin: 15px 0 30px 0; 
	}
}

.Info-block {	
	&_numeral {
		@include bold; font-size: 54px;
		margin: auto 61px auto 53px;
	}
	&_text {width: 510px;font-size: 18px; padding-right: 15px;}
	&__wrap {
		background: url("../img/helpInfo/wrap.svg");
		background-repeat: no-repeat;	
		height: 100px; 
		background-position: center;
		background-size: 100%;
		display: flex;align-items: center;
	}
}

@media (max-width: 768px) {
	.helpInfo__bg{
		background: url("../img/helpInfo/helpInfo__bg_phone.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;	
	}
	.container{max-width: 640px;}	
	.helpInfo__content{height: 320px;}
	.Info-block_numeral{margin: auto 47px auto 40px;}
}

@media (max-width: 425px) {	
	.helpInfo{ height: 550px;
	.line {margin: 5px 0 30px 0;}
	}	
	.container{max-width: 360px;}	
	.helpInfo__content{height: 195px;}
	.helpInfo__title{font-size: 38px;}	
	.Info-block{
		&_text{font-size: 12px;}
		&_numeral{font-size: 32px; margin: auto 30px auto 22.5px;}
		&__wrap{
			height: 60px;
			background: url("../img/helpInfo/wrap_425px.svg");
			background-repeat: no-repeat;	
			background-position: center;
			background-size: 100%;
			display: flex;align-items: center;
		}
	}
}

@media (max-width: 370px) {
	.container{max-width: 320px;}	
	.helpInfo__content{height: 175px;}
	.helpInfo__title{font-size: 30px;}	
	.Info-block{
		&_text{font-size: 10px;}
		&_numeral{font-size: 32px; margin: auto 20px auto 22.5px;}
		&__wrap{height: 50px;}
	}
}
/*--------------------*/