/*Блок_4*/
.howStart {
	
	&_top {				
		display: flex; 
		justify-content: space-evenly; 
		align-items: center; 
		flex-direction: column;
	}
	&_main {}
	&__title {
		@include bold;
		color: white;
		font-size: 54px;
		display: flex; 
	}
	.line {background: #00088E; margin: -15px 0px 0px 0px }
}
.howStart_top {
	&__bg {
		background: url("../img/howStart/howStart_top__bg.jpg");
		background-size: cover;
		height: 100px; width: 100%;
	}
}

.howStart_main {
	&__content {}
}
.howStart-block {	
	&_numeral {}
	&_title {}
	&_text {}
	&__wrap {display: flex; flex-direction: column;}
}


@media (max-width: 425px) {
	.howStart{
		.line {margin: 0}
	}	
	.howStart_top__bg{height: 60px;}
	.howStart__title {font-size: 40px;}
}
/*--------------------*/