/*Блок_4*/
.howStart {
	display: flex;
	flex-direction: column;
	&_top {		
		display: flex; 
		justify-content: space-evenly; 
		align-items: center; 
		flex-direction: column;
	}
	&_main {
		height: 400px; 
		display: flex;
		justify-content: center;
		align-items: center;	
		background: white;
	}
	&__title {
		@include bold;
		color: white;
		font-size: 54px;
		display: flex; 
	}
	.line {background: #00088E; margin: -15px 0px 0px 0px }
}
.howStart_top {
	&__bg {
		background: url("../img/howStart/howStart_top__bg.jpg");
		background-size: cover;
		height: 100px; width: 100%;
	}
}

.howStart_main {
	&__content {height: 100%;display: flex; flex-direction: column; justify-content: space-evenly;}
}
.howStart-block {		
	&_numeral {margin-right: 10px;}
	&_title {@include bold;color: #2E3163; font-size: 28px;margin-bottom: 5px;}
	&_text {color: #444343; font-size: 18px;}
	&__wrap {display: flex; align-items: center; }
	&__content{height: 60px;}
}

@media (max-width: 768px) {
	.howStart-block__content{height: 65px;}
}

@media (max-width: 425px) {
	.howStart{		
		.line {margin: 0}
	}	
	.howStart_top__bg{height: 60px;}
	.howStart__title {font-size: 38px;}
	.howStart-block {
		&_numeral {margin-right: 5px;}
		&_numeral {img{height: 60px;}}			
		&_title {color: #2E3163; font-size: 22px;}
		&_text {color: #444343; font-size: 14px;}
		&__content{height: 60px;}
	}
}

@media (max-width: 370px) {
	.howStart{&_main{height: 325px;}}
	.howStart__title {font-size: 32px;}
	.howStart-block {
		&_numeral {img{height: 50px;}}			
		&_title {color: #2E3163; font-size: 20px;}
		&_text {color: #444343; font-size: 13px;}
		&__content{height: 50px;}
	}
}
/*--------------------*/